/* VARIABLES EN CSS */
:root {
    --color-negro: #111211;
    --color-blanco: #f8f9f8;
    --color-blanco-transp: rgba(248, 249, 248, 0.2);
    --color-verde-claro: #b7c3b7;
    --color-verde: #516251;
    --color-verde-transp: rgba(81, 98, 81, 0.5);
    --color-verde-oscuro: #202420;
    --color-verde-oscuro-transp: rgba(32, 36, 32, 0.5);
    --color-mostaza-claro: #e6c381;
    --color-mostaza: #cd8603;
    --color-mostaza-oscuro: #6c4907;
    --color-texto-oscuro: #161816;
    --color-texto-claro: #d4dbd4;
    --font-playfair: "Playfair Display", serif;
    --font-lato: "Lato", sans-serif;
}

/* RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ESTILOS RESPONSIVOS PARA TABLET */

@media screen and (max-width: 960px) {

    /* Generales para mostrar u ocultar elementos */

    .ocultarTablet {
        display: none;
    }

    .mostrarTablet {
        display: block;
    }

    /* HEADER DE TODAS LAS PÁGINAS*/

    .header__nav-links {
        display: none;
    }

    /* FOOTER DE TODAS LAS PÁGINAS - ESTILOS GENERALES */

    .footer__top {
        flex-direction: column;
        gap: 2rem;
    }

    .footer__navegacion-links {
        display: grid;
        grid-template-columns: repeat(3, minmax(30%, 1fr));
        column-gap: 2rem;
    }

    .footer__pago-img {
        flex-direction: row;
    }

    /* //////////////// SECCIONES QUE VARÍAN POR PÁGINA //////////////// */

    /* /////////////////// */
    /* PAGE HOME - INICIO */

    /* SECTION HERO - INICIO */

    .container__hero-area {
        width: 100%;
        height: 70vh;
    }

    .container__hero-blur {
        width: 90%;
    }

    /* LINKS A PAGES - INICIO */

    .container__pages-area {
        padding: 4rem 0rem;
    }

    .container__pages-links {
        flex-wrap: wrap;
        padding: 0 5%;
        column-gap: 2rem;
        row-gap: 2rem;
    }

    /* PRODUCTOS DESTACADOS - INICIO */

    .container__products-area {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .container__products-grid {
        gap: 2rem;
        padding: 0 2%;
    }

    /* CARRITO */
    .container__carrito-area{
        width: 90%;
        margin-top: 0;
    }

    /* WORKSHOP / TALLERES - INICIO */

    .container__workshop-area {
        background-image: url("../images/inicio/img_waves.svg");
        background-size: contain;
        background-position: 0 85%;
        background-repeat: no-repeat;
    }

    .container__workshop-frame {
        position: initial;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .container__workshop-video {
        position: initial;
    }

    .container__workshop-card {
        position: initial;
        width: 60%;
    }

    /* ABOUT US / NOSOTRAS - INICIO */

    .container__aboutus-area {
        background-color: var(--color-mostaza-claro);
    }

    .container__aboutus-frame {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0 2rem 4.5rem;
    }

    .img__aboutus-box {
        width: 100%;
        padding: 0;
    }

    .container__aboutus-txt {
        width: 100%;
    }

    /* CONTACTO - INICIO */

    .container__contact-area {
        background-image: none;
    }

    .container__contact-frame {
        width: 90%;
    }

    .container__contact-box {
        display: flex;
        flex-direction: column-reverse;
    }

    .container__contact-info {
        width: 100%;
        gap: 3rem;
    }

    .container__contact-form {
        width: 100%;
    }

    .container__contact-mensaje {
        background-color: var(--color-verde-oscuro);
        width: 100%;
        padding: 2.5rem;
    }

    /* OPINIONES - INICIO */

    .container__opiniones-frame {
        display: grid;
        grid-template-columns: repeat(2, minmax(18%, 1fr));
        row-gap: 3rem;
        column-gap: 3.51%;
        padding: 0 5.27%;
    }

    .img_opinion {
        width: 4rem;
        height: 4rem;
    }

    /* BANNER 2 - INICIO */

    .container__banner-2 {
        flex-wrap: wrap;
        column-gap: 6rem;
        row-gap: 2rem;
        padding: 2rem;
    }

    /* /////////////// */
    /* PAGE PRODUCTOS */

    .page__nav-links {
        height: auto;
        flex-wrap: wrap;
        gap: 2rem;
        padding: 1rem;
    }

    .banner__productpage {
        flex-wrap: wrap;
    }

    .banner__img {
        width: 50%;
    }

    .container__products-header {
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
        padding: 0 4%;
    }

    .container__products-header-txt {
        width: 100%;
        flex-direction: column;
    }

    /* /////////////// */
    /* PAGE NOSOTRAS */
    .container__aboutus-infomargarita {
        flex-direction: column;
        gap: 2rem;
        padding: 4rem 2rem;
    }

    .container__aboutus-section-txt {
        width: 100%;
    }

    .container__aboutus-bio {
        padding: 3rem;
        gap: 3rem;
        margin-bottom: 4.5rem;
    }

    .conatiner__aboutus-bio-july {
        flex-direction: column;
        gap: 1.5rem;
    }

    .conatiner__aboutus-bio-mile {
        flex-direction: column-reverse;
        gap: 1.5rem;
    }

    .container__aboutus-elegirnos {
        flex-direction: column-reverse;
        gap: 4rem;
        padding: 3rem 1.5rem;
        margin-bottom: 4.5rem;
    }

    /* ///////////// */
    /*PAGE CÓMO LLEGAR*/

    .container__masinfo-area {
        padding: 2rem;
    }

    .container__masinfo-txt {
        width: 80%;
    }

    .container__masinfo-img {
        width: 80%;
    }

    /* /////////////////////// */
    /* PÁGINA CÓMO LLEGO -CÓMO COMPRAR */

    .container__masinfo-area {
        padding: 2rem;
    }

    .container__masinfo-txt {
        width: 80%;
    }

    .container__masinfo-img {
        width: 80%;
    }

    /* /////////////////////// */
    /* PÁGINA NO ENCONTRADA */
    .main__pagenotfound {
        padding: 1rem;
        align-items: flex-start;
    }

    .container__pagenotfound-area {
        flex-direction: column;
        width: 90%;
        height: 100%;
        gap: 1rem;
    }

    .container__pagenotfound-img-box {
        width: 100%;
        height: 60%;
    }

    .container__pagenotfound-txt-box {
        width: 100%;
        height: 40%;
        padding: 2rem;
        gap: 2rem;
    }

}


/* ESTILOS RESPONSIVOS PARA CELULAR */

@media screen and (max-width: 600px) {

    /* Generales para mostrar u ocultar elementos */

    .ocultarCelular {
        display: none;
    }

    /* BOTONES - ESTILOS GENERALES*/

    .btn-100Celular {
        width: 100%;
    }

    /* HEADER DE TODAS LAS PÁGINAS - ESTILOS GENERALES */

    .header {
        height: 6.5rem;
    }

    .header__nav-logo {
        width: 12rem;
    }

    /* FOOTER DE TODAS LAS PÁGINAS - ESTILOS GENERALES */
    .footer__navegacion-links {
        grid-template-columns: repeat(2, minmax(40%, 1fr));
        column-gap: 3rem;
    }

    /* //////////////// SECCIONES QUE VARÍAN POR PÁGINA //////////////// */

    /* /////////////////// */
    /* PAGE HOME - INICIO */

    /* SECTION HERO - INICIO */

    .container__hero-area {
        height: 85vh;
    }

    .container__hero-blur {
        width: 95%;
        padding: 2rem;
    }

    .container__hero-box {
        padding: 1rem;
        gap: 1rem;
    }

    /* LINKS A PAGES - INICIO */

    .container__pages-area {
        background-size: 50%;
    }

    .container__pages-linkcard {
        box-shadow: 2px 2px 6px var(--color-verde-transp);
    }

    /* PRODUCTOS DESTACADOS - INICIO */

    .container__products-grid {
        column-gap: 1rem;
        row-gap: 2rem;
        padding: 0 2%;
    }

    .container__products-card {
        width: 10rem;
        box-shadow: 2px 2px 6px var(--color-verde-transp);
    }

    .btn-agregar-carrito {
        padding: 0.1rem;
    }

    /* WORKSHOP / TALLERES - INICIO */

    .container__workshop-area {
        background-image: none;
    }

    .container__workshop-frame {
        gap: 0.5rem;
    }

    .container__workshop-card {
        width: 100%;
    }

    /* ABOUT US / NOSOTRAS - INICIO */

    .img__aboutus-box {
        flex: 1 1 20rem;
    }

    .img__aboutus {
        min-height: 25rem;
    }

    .container__aboutus-txt {
        padding: 1.5rem;
    }

    /* CONTACTO - INICIO */

    .container__contact-frame {
        box-shadow: 2px 2px 6px var(--color-verde-transp);
    }

    /* OPINIONES - INICIO */

    .container__opiniones-frame {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }

    .container__opiniones-card {
        box-shadow: 2px 2px 6px var(--color-verde-transp);
    }

    /* /////////////////////// */
    /* PÁGINA CÓMO LLEGO*/

    .container__masinfo-area {
        padding: 2rem;
    }

    .container__masinfo-txt {
        width: 100%;
    }

    .container__masinfo-img {
        width: 100%;
    }

    /* /////////////////////// */
    /* PÁGINA NO ENCONTRADA */
    .container__pagenotfound-txt-box {
        padding: 1rem;
    }
}